@model MedicalInformationSystem.Models.Doctor

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<table class="table table-bordered table-hover">
    <tr>
        <th>Name</th>
        <td>@Model.Name</td>
    </tr>
    <tr>
        <th>Phone</th>
        <td>@Model.Phone</td>
    </tr>
    <tr>
        <th>Area</th>
        <td>@Model.Area</td>
    </tr>
    <tr>
        <th>Area</th>
        <td>@Model.DoctorType.Name</td>
    </tr>
    <tr>
        <th>Hospital Name</th>
        <td>@Model.HospitalName</td>
    </tr>
    <tr>
        <th>Work Hour</th>
        <td>@Model.WorkHour</td>
    </tr>
    <tr>
        <th>Address</th>
        <td>@Model.Address</td>
    </tr>
    <tr>
        <th>Description</th>
        <td>@Model.Description</td>
    </tr>
</table>